Repository kakao-tech-campus-2nd-step3/Team18_FE, pull requests merged in 2024-10, with the labels that each got.

#36 Feat/#19 메인(근로자/사업주) 페이지 구현
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/assets/icons/arrow/right.svg
  src/assets/theme.ts
  src/components/common/Flex/index.tsx
  src/components/common/Icon/Arrow.ts
  src/components/common/Icon/index.ts
  src/components/common/Image/index.stories.ts
  src/components/common/Image/index.tsx
  src/components/common/InnerContainer/index.tsx
  src/components/common/List/index.tsx
  src/components/common/index.ts
  src/components/providers/GlobalStylesProvider/index.provider.tsx
  src/features/auth/RoleModal.tsx
  src/features/auth/RoleSelection.tsx
  src/features/auth/components/RoleSelector/index.config.tsx
  src/features/auth/components/RoleSelector/index.tsx
  src/features/home/Employer.tsx
  src/features/home/RecruitmentList.tsx
  src/features/home/Worker.tsx
  src/features/home/components/Banner.tsx
  src/features/home/components/RecruitmentCard/Button.tsx
  src/features/home/components/RecruitmentCard/CompanyImage.tsx
  src/features/home/components/RecruitmentCard/CompanyName.tsx
  src/features/home/components/RecruitmentCard/Detail.tsx
  src/features/home/components/RecruitmentCard/RecruitmentCard.context.tsx
  src/features/home/components/RecruitmentCard/RecruitmentCard.tsx
  src/features/home/components/RecruitmentCard/Salary.tsx
  src/features/home/components/RecruitmentCard/Title.tsx
  src/features/home/components/RecruitmentCard/index.ts
  src/features/home/components/RecruitmentHeader.tsx
  src/hooks/useToggle.ts
  src/pages/auth/SignIn/index.tsx
  src/pages/auth/SignUp/index.tsx
  src/pages/employer/postNotice/index.tsx
  src/pages/home/data/index.mock.ts
  src/pages/home/index.stories.ts
  src/pages/home/index.tsx
  src/pages/recruit/RecruitCard.tsx
  src/pages/visaRegistration/index.stories.tsx
  src/routes/path.ts
  src/routes/router.tsx
  src/types/index.d.ts
  src/utils/responsive.ts
Labels: feat, refactor

#39 Feat/#33,#34 지원 프로세스 페이지 및 지원서 페이지 구현
  package.json
  src/pages/apply/applyguide/ApplyGuide.stories.tsx
  src/pages/apply/applyguide/ApplyGuide.tsx
  src/pages/apply/applyguide/guideMent.ts
  src/pages/apply/applypage/ApplyInput.tsx
  src/pages/apply/applypage/ApplyPage.tsx
  src/pages/apply/applypage/useApplyHook.tsx
  src/pages/recruit/RecruitCard.tsx
  src/pages/recruit/RecruitDetail.tsx
  src/pages/recruit/index.tsx
  src/pages/recruit/stories/RecruitCard.stories.tsx
  src/pages/recruit/stories/RecruitDetail.stories.tsx
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#38 Feat/#32 고용주 마이페이지 구현
  src/assets/icons/companyInfo/arrow-right.svg
  src/assets/icons/companyInfo/brand.svg
  src/assets/icons/companyInfo/industry.svg
  src/assets/icons/companyInfo/revenue.svg
  src/assets/icons/navigation/menu-close.svg
  src/assets/icons/navigation/menu-open.svg
  src/features/employee/visaRegistration/index.tsx
  src/features/employer/CompanyInfo/coupang.png
  src/features/employer/CompanyInfo/index.tsx
  src/features/employer/MyRecruitments/index.tsx
  src/features/layout/Header/index.tsx
  src/pages/employee/visaRegistration/index.stories.tsx
  src/pages/employee/visaRegistration/index.tsx
  src/pages/employer/myAccount/index.stories.tsx
  src/pages/employer/myAccount/index.tsx
  src/pages/visaRegistration/index.tsx
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#48 Refactor/#47 6주차 코드리뷰 리팩토링
  src/components/common/InnerContainer/index.tsx
  src/components/common/List/index.tsx
  src/features/auth/RoleModal.tsx
  src/features/auth/SignIn/SignInButton.tsx
  src/features/auth/SignIn/SignInText.tsx
  src/features/auth/SignUp/RoleSelection.tsx
  src/features/auth/SignUp/SignUpText.tsx
  src/features/auth/SignUp/components/RoleModal.tsx
  src/features/auth/SignUp/components/RoleSelector/index.config.tsx
  src/features/auth/SignUp/components/RoleSelector/index.tsx
  src/features/auth/components/RoleModal.tsx
  src/features/auth/components/RoleSelection.tsx
  src/features/home/Employer.tsx
  src/features/home/RecruitmentList.tsx
  src/features/home/components/Banner.tsx
  src/features/home/components/RecruitmentCard/Button.tsx
  src/features/home/components/RecruitmentCard/CompanyImage.tsx
  src/features/home/components/RecruitmentCard/CompanyName.tsx
  src/features/home/components/RecruitmentCard/Detail.tsx
  src/features/home/components/RecruitmentCard/RecruitmentCard.tsx
  src/features/home/components/RecruitmentCard/Salary.tsx
  src/features/home/components/RecruitmentCard/Title.tsx
  src/features/home/components/RecruitmentHeader.tsx
  src/features/home/components/RecruitmentHeader/index.styles.ts
  src/features/home/components/RecruitmentHeader/index.tsx
  src/pages/auth/SignIn/index.styles.ts
  src/pages/auth/SignIn/index.tsx
  src/pages/auth/SignUp/index.tsx
  src/pages/auth/index.ts
  src/pages/home/index.tsx
  src/routes/router.tsx
Labels: refactor

#55 Refactor/#54 Modal 컴포넌트 재설계
  eslint.config.js
  package-lock.json
  package.json
  src/components/common/Modal/Modals.tsx
  src/components/common/Modal/hooks/useModals.ts
  src/components/common/Modal/index.context.tsx
  src/components/common/Modal/index.tsx
  src/components/providers/Modals.provider.tsx
  src/components/providers/index.provider.tsx
  src/features/auth/SignUp/components/RoleSelection.tsx
  src/features/auth/SignUp/components/common/RoleModal.tsx
  src/features/auth/SignUp/components/common/RoleSelector/index.tsx
  src/pages/auth/SignUp/index.tsx
Labels: refactor

#57 Feat/#56 메인 페이지 API 연동
  .env.development
  .storybook/preview.tsx
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/apis/auth/hooks/useAuthFetch.ts
  src/apis/auth/mock/index.mock.ts
  src/apis/home/mocks/recruitmentsMockHandler.ts
  src/apis/home/mocks/slidesMockHandler.ts
  src/apis/home/path.ts
  src/apis/home/queries/queryKeys.ts
  src/apis/home/queries/useFetchRecruitments.tsx
  src/apis/home/queries/useFetchSlides.tsx
  src/apis/home/types/response.ts
  src/apis/instance.ts
  src/components/common/AsyncBoundary/index.tsx
  src/components/common/Spinner/index.stories.tsx
  src/components/common/Spinner/index.tsx
  src/components/common/index.ts
  src/components/providers/index.provider.tsx
  src/features/home/components/ConditionalRenderer.tsx
  src/features/home/components/Employer.tsx
  src/features/home/components/Worker.tsx
  src/features/home/components/common/Banner.tsx
  src/features/home/components/common/RecruitmentCard/index.context.tsx
  src/features/home/components/common/RecruitmentCard/index.tsx
  src/features/home/components/common/RecruitmentCard/sub-components/CompanyImage.tsx
  src/features/home/components/common/RecruitmentList.tsx
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
  src/mocks/setupMockServiceWorker.ts
  src/pages/home/index.tsx
  src/types/index.d.ts
Labels: feat

#59 Feat/#58 OAuth 구글 로그인 구현
  .env.development
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/apis/auth/mutations/useGoogleOAuth.tsx
  src/apis/auth/path.ts
  src/apis/auth/types/request.ts
  src/apis/auth/types/response.ts
  src/apis/instance.ts
  src/features/auth/SignIn/components/SignInButton.tsx
  src/pages/auth/Loading/index.tsx
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#61 Feat/#60 가입자 정보 선택 API 연동
  src/apis/auth/mutations/useRegister.tsx
  src/apis/auth/path.ts
  src/apis/auth/types/request.ts
  src/apis/auth/types/response.ts
  src/features/auth/SignUp/components/RoleSelection.tsx
  src/features/auth/SignUp/components/common/RoleSelector/index.config.tsx
  src/features/auth/SignUp/components/common/RoleSelector/index.tsx
Labels: feat

#63 Feat/#49 이력서 페이지 구현
  src/pages/resume/Resume.tsx
  src/pages/resume/ResumeInput.tsx
  src/pages/resume/ResumeType.ts
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#75 Feat/#74 사인 등록 페이지 구현
  README.md
  package-lock.json
  package.json
  src/apis/apiPath.ts
  src/apis/registerSign/registerSign.mock.ts
  src/apis/registerSign/useRegisterSign.ts
  src/mocks/handlers.ts
  src/pages/registerSign/RegisterSign.tsx
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#78 Feat/#77 회사 등록 페이지 구현
  src/pages/contract/EmployeeContract/EmployeeContract.stories.tsx
  src/pages/contract/EmployeeContract/EmployeeContract.tsx
  src/pages/contract/EmployerContract/EmployerContract.stories.tsx
  src/pages/contract/EmployerContract/EmployerContract.tsx
  src/pages/registerCompany/RegisterCompany.stories.tsx
  src/pages/registerCompany/RegisterCompany.tsx
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#80 Feat/#69 API 연동
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/apis/apiPath.ts
  src/apis/applicants/hooks/useGetForeigner.ts
  src/apis/applicants/hooks/useGetMyApplicants.ts
  src/apis/applicants/hooks/useRegisterVisaInfo.ts
  src/apis/applicants/mocks/foreignerMockHandler.ts
  src/apis/applicants/mocks/myApplicantsMockHandler.ts
  src/apis/applicants/mocks/visaMockHandler.ts
  src/apis/companies/hooks/useGetMyCompanies.ts
  src/apis/companies/mocks/myCompaniesMockHandler.ts
  src/apis/recruitments/hooks/useGetMyRecruitments.ts
  src/apis/recruitments/mocks/myRecruitmentsMockHandler.ts
  src/features/applicants/ApplicantList/ApplicantsTable/index.tsx
  src/features/applicants/ApplicantList/ContractModal/index.tsx
  src/features/companies/CompanyList/CompaniesTable/index.tsx
  src/features/recruitments/RecruitmentList/RecruitmentsTable/index.tsx
  src/features/visaRegistration/index.tsx
  src/mocks/handlers.ts
  src/pages/applicants/index.mock.ts
  src/pages/applicants/index.stories.tsx
  src/pages/applicants/index.tsx
  src/pages/myAccount/employer/index.mock.ts
  src/pages/myAccount/employer/index.tsx
  src/pages/myCompany/index.mock.ts
  src/pages/myCompany/index.stories.tsx
  src/pages/myCompany/index.tsx
  src/routes/path.ts
  src/routes/router.tsx
  src/types/index.d.ts
Labels: feat

#82 feat: 근로계약서 path 설정
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat

#83 Feat/#81 구인 글 상세 화면 수정 및 API 연결
  src/apis/apiPath.ts
  src/apis/recruitmentsDetail/cat.jpg
  src/apis/recruitmentsDetail/recruitmentsDetailList.ts
  src/apis/recruitmentsDetail/recruitmentsDetailMockHandler.ts
  src/apis/recruitmentsDetail/useRecruitmentsDetail.tsx
  src/mocks/handlers.ts
  src/pages/recruit/RecruitCard.tsx
  src/pages/recruit/RecruitDetail.tsx
  src/pages/recruit/RecruitType.ts
  src/pages/recruit/index.tsx
  src/pages/recruit/stories/RecruitCard.stories.tsx
  src/pages/recruit/stories/RecruitDetail.stories.tsx
  src/routes/path.ts
Labels: feat, refactor

#84 Refactor/#71 9주차 기능 개선 및 리팩토링
  src/apis/apiPath.ts
  src/apis/applicants/hooks/useRegisterVisaInfo.ts
  src/apis/applicants/mocks/foreignerMockHandler.ts
  src/apis/applicants/mocks/myApplicantsMockHandler.ts
  src/apis/applicants/mocks/visaMockHandler.ts
  src/apis/companies/mocks/myCompaniesMockHandler.ts
  src/apis/recruitments/mocks/myRecruitmentsMockHandler.ts
  src/features/applicants/ApplicantList/ApplicantList.tsx
  src/features/applicants/ApplicantList/ApplicantsTable/ApplicantsTable.styles.ts
  src/features/applicants/ApplicantList/ApplicantsTable/ApplicantsTable.tsx
  src/features/applicants/ApplicantList/ContractModal/ContractModal.mock.ts
  src/features/applicants/ApplicantList/ContractModal/ContractModal.tsx
  src/features/applicants/ApplicantList/ContractModal/ModalButtons/ModalButtons.styles.ts
  src/features/applicants/ApplicantList/ContractModal/ModalButtons/ModalButtons.tsx
  src/features/applicants/ApplicantList/ContractModal/ModalText/ModalText.styles.ts
  src/features/applicants/ApplicantList/ContractModal/ModalText/ModalText.tsx
  src/features/applicants/ApplicantList/ContractModal/index.tsx
  src/features/companies/CompanyInfo/CompanyInfo.styles.ts
  src/features/companies/CompanyInfo/CompanyInfo.tsx
  src/features/companies/CompanyList/CompaniesTable/CompaniesTable.styles.ts
  src/features/companies/CompanyList/CompaniesTable/CompaniesTable.tsx
  src/features/companies/CompanyList/CompanyList.tsx
  src/features/recruitments/RecruitmentInfo/RecruitmentInfo.styles.ts
  src/features/recruitments/RecruitmentInfo/RecruitmentInfo.tsx
  src/features/recruitments/RecruitmentList/RecruitmentList.tsx
  src/features/recruitments/RecruitmentList/RecruitmentsTable/RecruitmentsTable.styles.ts
  src/features/recruitments/RecruitmentList/RecruitmentsTable/RecruitmentsTable.tsx
  src/features/registerVisa/VisaRegistrationForm.styles.ts
  src/features/registerVisa/VisaRegistrationForm.tsx
  src/features/registerVisa/validateForeignerNumber.ts
  src/pages/applicants/Applicants.mock.ts
  src/pages/applicants/Applicants.stories.tsx
  src/pages/applicants/Applicants.styles.ts
  src/pages/applicants/Applicants.tsx
  src/pages/myAccount/employer/index.stories.tsx
  src/pages/myAccount/employer/index.styles.ts
  src/pages/myAccount/employer/index.tsx
  src/pages/myCompany/MyCompany.mock.ts
  src/pages/myCompany/MyCompany.stories.tsx
  src/pages/myCompany/MyCompany.styles.ts
  src/pages/myCompany/MyCompany.tsx
  src/pages/myPage/employer/EmPloyerMyPage.tsx
  src/pages/myPage/employer/EmployerMyPage.mock.ts
  src/pages/myPage/employer/EmployerMyPage.stories.tsx
  src/pages/myPage/employer/EmployerMyPage.styles.ts
  src/pages/registerVisa/RegisterVisa.stories.tsx
  src/pages/registerVisa/RegisterVisa.styles.ts
  src/pages/registerVisa/RegisterVisa.tsx
  src/pages/visaRegistration/index.stories.tsx
  src/routes/path.ts
  src/routes/router.tsx
Labels: feat, refactor

#87 Feat/#85 Header 컴포넌트 기능 추가 및 개선
  package-lock.json
  public/mockServiceWorker.js
  src/assets/images/profile-image.svg
  src/features/layout/Header/components/LanguageFilter.tsx
  src/features/layout/Header/index.stories.tsx
  src/features/layout/Header/index.styles.ts
  src/features/layout/Header/index.tsx
  src/features/layout/index.tsx
  src/types/index.d.ts
Labels: feat, refactor
